<div>
  <div>
    <h1>
      List of users
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Username
        </th>

        <th>
          Private?
        </th>

        <th>

        </th>

        <th>

        </th>

      </tr>

      <% @list_of_users.each do |a_user| %>
        <tr>
          <td>
            <%= a_user.username %>
          </td>
          <% if a_user.private == true %>
            <td>
              Yes
            </td>
          <% else %>
            <td>
              No
            </td>
          <% end %>

          <% if @current_user != nil %>
            <td>
              <% request = FollowRequest.where({ :sender_id => @current_user.id, :recipient_id => a_user.id }).first %>
              <% if request != nil %>

                  <a href="/delete_follow_request/<%= %>">
                  Unfollow
                </a>

              <% else %>
                <form action="/insert_follow_request" method="post">
                  <input type="hidden" name="query_recipient_id" value="<%= a_user.id %>">

                  <button>
                    Follow
                  </button>
                </form>
              <% end%>
            </td>
          <% else %>
            <td>
            </td>
          <% end %>

          <td>
            <a href="/users/<%= a_user.username %>">
              Show details
            </a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
